@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Black.ttf);
}

@font-face {
  font-family: "Montserrat-BlackItalic";
  src: url(../fonts/Montserrat/Montserrat-BlackItalic.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url(../fonts/Montserrat/Montserrat-BoldItalic.ttf);
}

@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url(../fonts/Montserrat/Montserrat-BoldItalic.ttf);
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  src: url(../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url(../fonts/Montserrat/Montserrat-MediumItalic.ttf);
}
