@import "vars";
@import "libs";
@import "fonts";

@import "media";

@import "smart-grid.scss";

@mixin add-default-maxWidth {
    max-width: 1180px;
}

html {
    --maxWidth: 1225px;


    font-family: 'Montserrat';
    font-size: 10px;
    background: #e9e9e9;

    body {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            height: 394px;
            width: 100%;
            background: #d6d6d6;
            z-index: -12;
        }
    }
}

.nav-panel {
    max-width: var(--maxWidth);

    margin: auto;

    .nav-list {

        $step: 50px;
        $navItemColor: #151515;
        $navItemHover: #fff;
        $navItemHoverBG: #EFB81D;


        padding: 0;
        display: grid;
        grid-template-areas: "logo . home . about . package . galery . contact";
        grid-template-columns: 238px 270px 90px 50px 95px 50px 125px 50px 105px 50px 125px;
        grid-template-columns: 4.76fr 5.4fr 1.8fr 1fr 1.9fr 1fr 2.5fr 1fr 2.1fr 1fr 2.5fr;
        margin: 40px auto 0 auto;
        justify-content: center;
        align-items: center;

        .nav-list__item {
            display: grid;
            align-items: center;
            list-style-type: none;
            font-size: 2.5rem;
            line-height: 1.2;
            font-weight: 600;
            letter-spacing: 0.001em;
            transition: (color, background, background-color) .5s;
            text-align: center;
            color: $navItemColor;

            &:not(.logo-wrapper):hover {
                cursor: pointer;
                color: $navItemHover;
                background: $navItemHoverBG;
            }
        }

        .logo-wrapper {
            display: flex;
            justify-content: center;
        }

        .logo {
            margin-right: 10px;
            max-height: 30px;
            grid-area: logo;
        }

        .home {
            grid-area: home;
        }

        .about {
            grid-area: about;
        }

        .package {
            grid-area: package;
        }

        .galery {
            grid-area: galery;
        }

        .contact {
            grid-area: contact;
        }
    }
}

.explore-your-music {

    max-width: var(--maxWidth);

    display: grid;
    grid-template-areas: 'text-wrapper . img-wrapper';
    grid-template-columns: 1fr 35px 1fr;
    margin: 75px auto 0 auto;

    .text-wrapper {
        position: relative;
        grid-area: text-wrapper;

        &::before {
            position: absolute;
            content: '';
            top: -17px;
            right: 65px;
            width: 128px;
            height: 30px;
            background: url(../img/three-arrows.svg) no-repeat;
            background-size: contain;
            z-index: -1;
        }

        &::after {
            position: absolute;
            content: '';
            bottom: -34px;
            left: 227px;
            height: 23px;
            width: 23px;
            background: url(../img/circle.svg) no-repeat;
            background-size: contain;
        }
    }

    &__header-wrapper {
        position: relative;
        font-family: 'Montserrat-ExtraBold', 'AdobeInvisFont', 'MyriadPro-Regular';
        font-size: 8rem;
        letter-spacing: .03rem;

        &::before {
            position: absolute;
            content: '';
            top: -20px;
            left: -65px;
            height: 373px;
            width: 572px;
            background: url(../img/circle.svg) no-repeat;
            background-size: contain;
            z-index: -1;
        }
    }

    &__explore-word {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            top: 53px;
            right: -20%;
            height: 27px;
            width: 27px;
            background: url(../img/square.svg) no-repeat;
            background-size: contain;
        }
    }

    &__music-word {
        position: relative;
        font-size: 13.5rem;
        line-height: .95;
        letter-spacing: .2rem;
        color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000;

        &::after {
            position: absolute;
            content: '';
            top: 25px;
            right: -20px;
            width: 15px;
            height: 15px;
            background: url(../img/square.svg) no-repeat;
            background-size: contain;
        }
    }

    &__description {
        font-family:
            'Montserrat-Medium', 'AdobeInvisFont', 'MyriadPro-Regular';
        font-size: 1.2rem;
        color: #444;
        margin-top: 60px;
    }
}

.btn {
    font-family: 'Montserrat-ExtraBold', 'AdobeInvisFont', 'MyriadPro-Regular';
    font-size: 1.25rem;
    background: #EFB81D;
    color: #fff;
    box-shadow: 3px 3px 9px -4px #000;
    border: 3px solid #000;
    border-radius: 31px;
    width: 140px;
    height: 3.5rem;
    margin-top: 30px;
    transition: (box-shadow, background, color, background-color) .3s linear;

    &:hover {
        cursor: pointer;
        background: #947a32;
        box-shadow: 3px 3px 22px -4px #000;
    }
}

.img-wrapper {
    position: relative;
    grid-area: img-wrapper;

    &__img {
        position: relative;
        height: 100%;
        z-index: 2;
    }

    &::before {
        position: absolute;
        content: '';
        bottom: 0;
        left: -95px;
        height: 76px;
        width: 125px;
        background: url(../img/dots.svg) no-repeat;
        background-size: contain;
        z-index: -1;
    }

    &__text {
        font-size: 6.5rem;
        position: absolute;
        bottom: -75px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        line-height: 6.2rem;
        color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #EFB81D;
        z-index: 1;

    }

    .arrows-reverse {
        position: absolute;
        right: 0;
        top: 263px;
        right: 1px;
        height: 23px;
    }
}

.icons-wrapper {
    position: relative;
    height: 141px;
    display: grid;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-areas: ". icons . rectangle . .";
    grid-template-columns: 65px 88px 194px 500px 370px 30px;

    .icons {
        grid-area: icons;
        width: 85px;
        display: flex;
        justify-content: space-between;

        &__item {}

        .icons__img {
            height: 20px;
            width: 20px;
        }
    }

    .rectangle {
        grid-area: rectangle;
        align-self: self-end;
        background: orange;
        width: 500px;
        height: 80px;
    }

    .circle-wrapper {
        position: absolute;
        top: -75px;
        right: 0px;
        height: 216px;
        width: 198px;
        overflow: hidden;

        .circle-grey {
            position: absolute;
            height: 361px;
            width: 358px;
            z-index: 0;
        }
    }
}

.items {
    @include row-flex();
    /*создаст строку флексами*/
    @include row-float();
    /*создаст строку флотами*/
    @include md(justify-content, center);
    /*выровняй по центру начиная с 992px*/

    .item {
        @include col();
        /*станьте столбцами*/
        @include size(3);
        /*станьте столбцами занимающими 3 колонок везде*/
        @include size-lg(3);
        /*станьте столбцами занимающими 3 колонок начиная с 1200px*/
        @include size-md(4);
        /*станьте столбцами занимающими 4 колонок начиная со 992px*/
        @include size-sm(6);
        /*станьте столбцами занимающими 6 колонок начиная со 720pxpx*/
        @include size-xs(12);
        /*станьте столбацим занимающими 12 колонок начиная с 576px*/
    }
}
